<main role="main" class="container">
	<%= render '/layouts/parallax_container', image: 'blur-bottle-bright-building-273238.jpg' %> 

	<h1>Contact</h1>
	<div class="white_bg page_container">

<iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.2510482887897!2d25.98209531552577!3d44.510010979101295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDTCsDMwJzM2LjAiTiAyNcKwNTknMDMuNCJF!5e0!3m2!1sro!2sro!4v1534928716237" height="450" frameborder="0" allowfullscreen></iframe>	

		<div class="text_container">

			<div class="row">
				<div class="col-md-4">
					<h2 class="h2_address">Adresa</h2>
					<span>
						<i class="fa fa-map-marker"></i>
						Drumul de Centura Chitila-Mogosoaia nr. 3-5
					</span>
					<h2 class="h2_callnow">Suna acum</h2>
					<span>
						<i class="fa fa-phone"></i>
						(+40) 723.609.644
					</span>
					<h2 class="h2_email">Email</h2>
					<span>
						<i class="fa fa-envelope-o"></i>
						info@enocis.ro
					</span><br/>
					<span>
						<i class="fa fa-envelope-o"></i>
						contact@enocis.ro
					</span>

				</div>
				<div class="col-md-8">
					<h2 class="h2_mesaj">LASA-NE UN MESAJ!</h2>
					<p>
						Completeaza campurile de mai jos, si unul dintre consultantii nostrii te va contacta in cel mai scurt timp.
					</p>
					<br/>
					<%= render 'form', contact_form: @contact_form %>    
				</div>
			</div>

		<%= render '/layouts/second_nav' %>
		</div>
	
	</div>
  
</main>

