<%= render '/layouts/admin_panel' do %>
  <h2>Editare promotie</h2>
  <hr>
  <p>NOTA: Dimensiunea recomandata a pozei pentru promotie ce va fi afisata pe desktop este de 1150 x 752 iar pentru dispozitive mobile 829 x 1527.</p>
  <%= render 'form', promotion: @promotion %>
<% end %>
