<%= render '/layouts/admin_panel' do %>
<h2>Editaza poze fundal</h2>
<hr>
<i class="fa fa-exclamation-triangle info-name"></i> La apasarea butoanelor de stergere de sub imagini acestea sunt introduse intr-o lista pentru a fi sterse, dar stergerea se face doar in momentul apasarii butonului Salveaza.
<%= render 'photos_form', company: @company  %>
<% end %>