<p>Salut <%= @resource.email %>!</p>

<p>Cineva a cerut un link pentru resetarea parolei contului de administrator de pe website-ul enocis.ro. Poti reseta parola apasand pe link-ul de mai jos.</p>

<p><%= link_to 'Schimba parola', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Daca nu ai cerut resetarea ignora acest email.</p>
<p>Parola nu va fi schimbata pana cand nu accesezi link-ul de mai sus si alegi o parola noua.</p>
