<%= render '/layouts/admin_panel' do %>
  <h2>Editare categorie produse</h2>

  <%= render 'form', product_category: @product_category %>

  <%= link_to 'Show', @product_category %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>