<%= render '/layouts/admin_panel' do %>
  <h2>New Product Category</h2>

  <%= render 'form', product_category: @product_category %>

  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>