.admin_panel_menu{
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  a{
    color: white;
    text-transform: uppercase;
    flex: 0 1 140px;
    &:hover{
      text-decoration: none;
      color: #e5ae49;
      &:last-child{
        li{
          border: none;
        }
      }
      li{
        border: 3px solid #e5ae49;
      }
    }
    &.active{
      color: #e5ae49;
      li{
        border: 3px solid #e5ae49;
      }
    }
    li{ 
      list-style: none;
      border: 3px solid white;
      padding: 40px 10px;
      margin: 10px;
      text-align: center;
    }
    &:last-child{
      li{
        border: none;
      }
    }
  }
}
@media (max-width: 1200px) {
  .admin_panel_menu{
    a{
      flex: 1 1 140px;
    }
  }
}
@media (max-width: 992px) {

}
@media (max-width: 767px) {
  .admin_panel_menu{
    a{
      li{
        padding: 30px 10px;
        margin: 8px;
      }
    }
  }
}
@media (max-width: 575px) {
  .admin_panel_menu{
    a{
      flex: 1 1 130px;
      li{
        padding: 25px 10px;
        margin: 6px;
      }
    }
  }
}
@media (max-width: 480px) {
  .admin_panel_menu{
    a{
      li{
        padding: 20px 10px;
        margin: 4px;
      }
    }
  }
}