@use "admin_panel_menu";
.admin_panel{
  position: relative;
  background-image: url('frezari.jpg');
  background-size: cover;
  padding: 30px;
  min-height: 800px;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
  }
  .admin_panel_inside{
    position: relative;
    color: white;
  }
  .admin_top{
    display: flex;
    .admin_btn{
      min-width: 100px;
      border: 2px solid #e5ae49;
      text-transform:uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 5px 10px;
      text-align: center;
      vertical-align: middle;
      margin-left: 10px;
      a{
        color: #e5ae49;
        
        &:hover{
          text-decoration: none;
        }
      }
    }
    
    .push {
      margin-left: auto;
    }
  }
  h2{
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: 34px;
    // display: inline-block;
  }
  hr{
    height: 1px;
    background-color: #e5ae49;
    margin-bottom: 30px;
  }
  table {
    overflow: hidden;
    // table-layout: fixed;
    text-align: center;
  }
  .width100{
    width: 100%;
  }
  .width50{
    width: 50%;
  }
  th{
    color: #e5ae49;
    border: solid 2px white;
    height: 40px;
    padding: 5px;
  }
  .two {
    width: 2%;
  }
  .three {
    width: 3%;
  }
  .five {
    width: 5%;
  }
  .ten {
    width: 10%;
  }
  .twenty {
    width: 20%;
  }
  .fifthy {
    width: 50%;
  }
  /* see me */
  td {
    border: solid 2px white;
    padding: 5px;
  }
  i{
    font-size: 20px;
  }
  .fa-eye{
    color:white;
  }
  .fa-pencil-square{
    color: green;
  }
  .fa-trash{
    color: red;
  }
  form{
    width: 50%;
    .actions{
      margin-left: 155px;
    }
    .form_btn{
      display: inline-block;
      min-width: 100px;
      a{
        color: #e5ae49;
        
        &:hover{
          text-decoration: none;
        }
      }
      border: 2px solid #e5ae49;
      text-transform:uppercase;
      cursor: pointer;
      border-radius: 50px;
      padding: 5px;
      text-align: center;
    }
    &.admin_project_form, &.admin_product_category_form{
      width: 100%;
      input, textarea{
        width: 30%;
        &[type=checkbox]{
          width: auto;
        }
        &[type=submit]{
          width: auto;
        }
      }
    }
  }
  label{
    width: 150px;
  }
  input, textarea{
    width: 70%;
    color: white;
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    &[type=checkbox]{
      width: auto;
    }
    &[type=submit]{
      width: auto;
      color: #e5ae49;
      border-color: #e5ae49;
      text-transform:uppercase;
      cursor: pointer;
      border-radius: 50px;
      min-width: 100px;
    }
  }
  select{
    width: 70%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  textarea{
    vertical-align: top;
    min-height: 150px;
  }
  .poza{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    img{
      margin: 5px; 
      width: 100px;
      height: 100px;
    }
    #poza, #poza1, #poza2{
      display: inline-block;
    }
    label{
      border: 2px solid #e5ae49;
      width: 100px;
      display: inline-block;
      text-align: center;
      margin-left: 5px;
      color: #e5ae49;
      border-radius: 50px;
      padding: 5px;
      cursor: pointer;
    }
    input[type=checkbox]{
      display: none;
    }
    input[type=file]{
      display: inline-block;
      // margin-left: 0;
      display: none;
    }
  }
}
.admin_project_category{
  &::after{
    content: "|";
  }
  &:last-child{
    &::after{
      content: "";
    }
  }
}
.admin_quick_access{
  h2{
    text-transform: uppercase;
  }
  p{
    color: #e5ae49;
    margin-bottom: 0;
    &:last-child{
      padding-bottom: 10px;
      border-bottom: 1px #e5ae49 solid;
    }
  }
  .quick-menu{
    display: flex;
    gap: 30px;
    margin: 50px 0;
    flex-wrap: wrap;
    .quick-menu-item{
      border: 6px solid white;
      padding: 60px 20px;
      flex: 1 1 18%;
      text-align: center;
      h3{
        color: white;
        text-transform: uppercase;
      }
      ul{
        padding-left: 0;
        li{
          
          list-style: none;
          padding: 5px 0;
          a{
            color: #e5ae49;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.admin_testimonials{
  
}
.admin_testimonial_form{
 
}
.admin_project_form, .admin_product_category_form{
  input{
    &[type=checkbox]{
      width: auto;
    }
  }
  .editor{
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin: 5px;
    trix-editor{
      min-height: 200px;
    }
    
  }
  .categorii{
    display: inline-block;
    width: 30%;
    vertical-align: top;
  }
}
.admin_project_form{
  .project_image{
    width: 100px;
  }
}

.admin_product_form, .admin_frezarimdf_form{
  .poza{
    img{
      width: 300px;
      height: 200px;
    }
  }
}
.container.wider{
  .admin_testimonial_show, .admin_contact_form_show, .admin_project_show, .admin_project_category_show, .admin_frezarimdf_category_show{
    p{
      color: white;
      width: 50%;
    }
  }
}