/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Fonts
@import url("https://fonts.googleapis.com/css?family=Ubuntu%3A300%2C500%7CMontserrat%3A400%2C700%7CDroid+Serif%3A400italic%7CRaleway%3A300%2C400%2C500%2C700%2C800%7CNoticia+Text%3A400&#038;subset=latin%2Clatin-ext");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400%2C700");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap.css";

// Et_line
@import "et-line.css";

// font awesome
@import "font-awesome.css";

// furniture
@import "furniture.css";


body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background:#fafafa !important
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #222222;
  padding: 0px;
}
.opac{
  background-color:rgba(0, 0, 0, 0.7);
  width:100%;
  height:100%;
}
.opac8{
  background-color:rgba(0, 0, 0, 0.8);
  width:100%;
  height:100%;
}
.opac5{
  background-color:rgba(0, 0, 0, 0.5);
  width:100%;
  height:100%;
}
.parallax_container{
  
  height:530px;
  position:absolute;
  width:100%;
  background-attachment: scroll;
  background-color: transparent;
  background-image: inherit;
  background-size: cover;
  z-index: 0;
  background-position: 50% 0;
  left:0;
  top:105px;
  z-index:-1;

}
.content{
  background:#fff;
}
.main_img{
  width:100%;
}
.white_bg{
  background:#fff!important;
}

main.container{
  margin-top:105px;
}
.page_container{
  padding:10px;
}
h1{
  color:#fff;
  padding:30px 0 ;
  font-size:2rem;
  margin:0;
  text-transform:capitalize;
}
.dropdown-toggle::after {
  display: block;
  width: 0;
  height: 0;
  margin-left: 0;
  vertical-align: auto;
  content: "";
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
h2{

  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  color: #222;
  margin: 30px 0 15px 0;
  padding: 0;
  font-size: 18px;


}
.h2_address{
  color: #fe7e00;
}
.h2_callnow{
  color: #e5ae49;
}
.h2_email{
  color: #56c2a2;
}
.h2_mesaj{
  color: #e45b46;
  text-transform:uppercase;
}
.phone_call{
  color:#868686;
}
.phone_call:hover{
  color:#868686;
}
.red{
  color:red;
}
.text_container{
  padding:20px;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #666;
  letter-spacing: .5px;
  margin: 0 0 10px;
}
.text_container_serv{
  margin: 20px 0 10px;
}
.text_container .form-control::placeholder{
  color:#ddd;
  font-size:13px;
}
.alert-success{
  z-index:10101010;
  position:absolute;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%);
  left:50%;
  top:0;
}
.contact_submit{
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 25px;
  background: #E5AE49;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
h3 .nav-link:hover{
  color:#666;
}
h4{
  margin-top:30px;
  margin-bottom: 30px;
  padding: 0px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p{
  font-family: 'Ubuntu',sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  color: #666;
  letter-spacing: .5px;
  margin: 0 0 10px;
}
.trix-content{
  p{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    color: #666;
    letter-spacing: .5px;
    margin: 0 0 10px;
  }
} 
.main_margin_top {
  margin-top: 105px;
}
.nav-justified h3 a{
  color:#e5ae49;
  font-size:15px;
  font-weight:normal;
}
.myicon{
  font-size: 30px;
  color: #e5ae49;
  margin-right:10px;
}
.mycc::after {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #e5ae49;
  margin-top: 10px;
}
.mycc{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #222222;
  margin: 30px 0px 10px;
  padding: 0px;
}
#gmap{
  width:100%;
  border:0;
}
.dropdown.open .dropdown-menu{
  display:block;
} 
.cookie_consent{
  padding:20px 0;
  position: fixed;
  bottom: 0;
  z-index: 100000;
  background:rgba(255, 255, 255, 0.9);
  width: 100%;
}
.cookie_consent img{
  width:60px;    
}
.cookie_consent .col-md-2{
  text-align:center;
}
.cookie_but{
  margin: 10px 0px 0px;
  background: #F18020;
  border: 0;
  display: inline-block;
  color: #ffffff;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 14px;
  -webkit-transition: background .2s;
  transition: background .2s;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
      -webkit-transition: all .3s ease-in-out 0s;
      -moz-transition: all .3s ease-in-out 0s;
      -ms-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;
      transition: all .3s ease-in-out 0s;
}
.cookie_but:hover{
  color:#fff;
  text-decoration:none;
  background: #dc7e0d;
  border: 0;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
  table.cookie_table td,table.cookie_table th{
      border:1px solid #ccc;
      padding:2px;
  }
  table.cookie_table th{
      background:#eee;
  }
  .cookie_table .no-padding{
      padding:0;
  }

@media (max-width: 480px) {
  .parallax_container {
    height: 270px;
  }
}
@media (max-width: 767px) {
  h4{
    margin-top:40px;
  }
}
.products .row {
  margin: 0;
}

.products .col-sm-4 {
  padding: 0 1px 1px 0;
}

.product_list_container {
  height: 380px;
  overflow: hidden;
  position: relative;
}

.product_list_container img {
  max-width: 650px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.products .col-sm-4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-align: right;
}

.products .product_list_container .overlay:hover {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.products .product_list_container:hover img {
  max-width: 750px;
}

.products .product_list_container .overlay .top {
  position: absolute;
  right: 20px;
  top: 20px;
}

.products .product_list_container .overlay .top .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #e5ae49;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.products .product_list_container .overlay .top .subtitle {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.products .product_list_container .overlay .top span {
  display: block;
}

.products .product_list_container .overlay .bottom {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.products .product_list_container .overlay:hover .bottom {
  color: #e5ae49;
}

.products .product_list_container .overlay .bottom span:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #e5ae49;
  position: absolute;
  bottom: 0;
  left: -100%;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.products .product_list_container .overlay:hover .bottom span:after {
  left: 100%;
}

.product {
  background: #252525;
  height: 100%;
}

.product .detalii {
  color: #fff;
}

.product .detalii .row {
  padding: 5px 0;
}

.product .detalii > div:first-of-type {
  text-align: left;
}

.product .detalii > div > div > div:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.product .detalii > div > div > div:last-of-type {
  text-align: left;
  color: #e5ae49;
}

.product h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #e5ae49;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 48px 0 0;
  text-align: center;
  padding: 0;
}

.product h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
  letter-spacing: 1px;
  margin: 48px 0 44px;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.product .back {
  color: #fff;
  padding: 20px 0 0 0;
  display: inline-block;
  font-size: 20px;
}

.product .h2_mesaj {
  font-style: normal;
  margin-top: 30px;
}

.product h2 a {
  color: #e5ae49;
}

.cere_oferta {
  text-align: center;
}

.cere_oferta form > span {
  text-align: left;
  display: block;
}

.cere_oferta form > span > span {
  display: inline-block;
}

.cere_oferta form label {
  color: #fff;
}
.carousel {
  margin-top: 4rem;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-inner {
  width: 90%;
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  display: none;
}


@media (max-width: 768px) {
  .product_list_container {
    max-height: 100%;
    height: 260px;
  }

  .product_list_container img {
    max-width: 450px;
  }

  .products .product_list_container:hover img {
    max-width: 550px;
  }
  .products .product_list_container .overlay .top {
    width: 100%;
    text-align: center;
    right: auto;
  }

  .products .product_list_container .overlay .bottom {
    width: 100%;
    text-align: center;
    right: auto;
  }

  .parallax_container {
    height: 310px;
  }

  .carousel-item > img {
    height: 24rem;
  }

  .carousel-item {
    height: 24rem;
  }

  .detalii div > .row:first-of-type {
    margin-top: 20px;
  }

  .product .detalii > div > div > div:first-of-type {
    text-align: center;
    padding: 0;
  }

  .product .detalii > div > div > div:last-of-type {
    text-align: center;
    color: #e5ae49;
  }

  .product .detalii > div.col-sm-8 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .product .detalii > div.col-sm-4 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product .detalii > div .col-sm-6 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .products .col-sm-4 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container_image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .carousel-inner {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-item img {
    height: 100%;
    max-width: auto;
    min-width: auto;
    margin: 0 auto;
  }

  .carousel-item {
    position: relative;
    text-align: center;
  }

  .product_list_container {
    max-height: 100%;
    height: 340px;
  }

  .product_list_container img {
    max-width: 576px;
  }

  .products .product_list_container:hover img {
    max-width: 676px;
  }
}
@media (max-width: 480px) {
  .carousel-inner {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .carousel-item {
    height: 18rem;
    position: relative;
    text-align: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .carousel-item img {
    height: 100%;
    max-width: auto;
    min-width: auto;
    margin: 0 auto !important;
    position: static;
    display: inline;
  }

  .product_list_container {
    max-height: 100%;
    height: 260px;
  }

  .product_list_container img {
    max-width: 540px;
  }

  .products .product_list_container:hover img {
    max-width: 580px;
  }
}