@use "frezaremdf";
.container.wider{
  max-width: 1640px;
  h1{
    padding-bottom: 5px;
  }
  p{
    color:#e5ae49;
  }
  .page_container.no-btm-pad{
    padding-bottom: 0;
  }
}
.gray_bg{
  background-color: #eeeeee;
}
.container_frezari{
  position: relative;
  background-image: url('frezari.jpg');
  background-size: cover;
  padding: 30px;
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
  }
  .frezari_categories{
    position: relative;
    color: white;
  }
  hr{
    position: relative;
    background-color: white;
  }
  .frezari{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // gap: 30px;
    .frezare{
      flex: 0 0 32%;
      position: relative;
      margin-bottom: 30px;
      box-shadow: 0 0 0 4px white;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      .name{
        position: absolute;
        bottom:-16px;
        left:10px;
        color: #e5ae49;
        font-weight: 700;
        background-color: white;
        padding: 5px 1vw;
        border-radius: 20px;
      }
      .links{
        position: absolute;
        bottom:15px;
        right:10px;
        a{
          color: white;
          text-decoration: none;
        }
      }
      &:hover{
        box-shadow: none;
      }
    }
  }
  .link_new{
    position: relative;
    a{
      color: white;
      text-decoration: none;
    }
  }
}

