.hiddenimg, .hiddenimg-right {
  display: none;
}
span.label{
  margin-right: 5px;
}
span.info{
  position: relative;
  max-width: 1000px;
}
i.info-name{
  font-size: 16px;
}

.info-name{
  
  &:hover ~ .hiddenimg{
    display: block;
    position: absolute;
    left:20px;
    top:10px;
    z-index: 200;
    display: flex;
    img{
      display: block;
      max-width: 39vw;
    }
  }
  &:hover ~ .hiddenimg-right{
    display: block;
    position: absolute;
    right:-350px;
    top:10px;
    z-index: 200;
    display: flex;
    img{
      display: block;
      max-width: 37vw;
    }
  }
  
}