.testimoniale{
  background-image: url('inter10.jpg');
  background-position: center;
  background-size: cover;
  height: 600px;
  color: white;
  .carousel {
    position: relative;
  }
  .carousel-item {
    &.picture{
      // max-width: 881px;
      height: 610px;
    }
  }
  .carousel-item img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  #carousel-thumbs {
    background: rgba(255, 255, 255, 0);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
    
  }
  #carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
    object-fit: cover;
    width: 112px;
    height: 77px;
  }
  #carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
  }
  #carousel-thumbs .selected img {
    border-color: #fff;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
}