.testimoniale{
  background-image: url('inter10.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  #testimonial-message{
    color: #E5AE49;
  }
  .carousel {
    position: relative;    
    height: 360px;
    .carousel-inner{
      max-width: 1140px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .carousel-item {
      padding: 0 170px;
      text-align: center;

      .comment{
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        color: #ffffff;
        line-height: 32px;
      }
      .name{
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-size: 14px;
        color: #e5ae49;
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
        letter-spacing: 2px;
      }
      .title{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        display: block;
        text-align: center;
      }
      .image {
        // object-fit: contain;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        padding: 3px;
        margin: 25px auto;
        border: 1px solid #e5ae49;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 0;
          vertical-align: middle;
        }
      }
    }
  }
  .testimonial-form-container{
    text-align: center;
    padding-bottom: 20px;
    max-width: 30%;
    min-width: 575px;
    margin: 0 auto;
    a:hover{
      text-decoration: none;
    }
    .testimonial-form{
      text-align: left;
      input{
        width: 100%;
        background: none;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: #ffffff;
        margin-bottom: 15px;
        padding: 0 0 8px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        outline:none;
        letter-spacing: 0.5px;
        color: white;
        &[type=text]:focus{
          background: none;
          outline:none;
          box-shadow:none;
          border-color: #ffffff;
        }
        &[type=submit]{
          display: inline-block;
          font-size: 13px;
          text-transform: uppercase;
          padding: 10px 25px;
          background: transparent;
          border-radius: 50px;
          border: 2px solid #e5ae49;
          color: #e5ae49;
          font-family: Arial, sans-serif;
          cursor: pointer;
        }
      }
      .cancel{
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
        padding: 10px 25px;
        background: transparent;
        border-radius: 50px;
        border: 2px solid #e5ae49;
        color: #e5ae49;
        font-family: Arial, sans-serif;
        cursor: pointer;
      }
      .form-control::placeholder{
        color:#495057;
        font-size:13px;
      }
      textarea{
        color: white;
        width: 100%;
        background: none;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: #ffffff;
        height: 75px;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
        padding:0;
        border-radius:0;
        &:focus{
          background: none;
          outline:none;
          box-shadow:none;
          border-color: #ffffff;
        }
      }
    }
    .add-testimonial-btn{
      margin-bottom: 20px;
      #new_testimonial_link{
        font-size: 13px;
        text-transform: uppercase;
        padding: 10px 25px;
        background: transparent;
        border-radius: 50px;
        border: 2px solid #e5ae49;
        color: #e5ae49;
        font-family: Arial, sans-serif;
        cursor: pointer;
      }
    }
    #add_testimonial_captcha{
      margin-bottom: 20px;
    }
    
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  .carousel-control-prev {
    left: 30%;
  }
  .carousel-control-next {
    right: 30%;
  }
}
@media (max-width: 1200px) {
  .testimoniale{
    .testimonial-form-container{
      max-width: 60%;
    }
  }
}
@media (max-width: 992px) {

}
@media (max-width: 767px) {
  .testimoniale{
    .carousel{
      height: 450px;
      .carousel-item{
        padding: 0 20px;
      }
    }
    .carousel-control-prev {
      left: 10%;
    }
    .carousel-control-next {
      right: 10%;
    }
    .carousel-control-prev, .carousel-control-next {
      top: 100px;
    }
  }
}
@media (max-width: 575px) {
  .testimoniale{
    .carousel{
      .carousel-control-prev,
      .carousel-control-next {
        width: 20px;
        top: 200px;
      }
    }
    .testimonial-form-container{
      min-width: auto;
      max-width: 100%;
    }
  }
}
@media (max-width: 480px) {

}