<%= render '/layouts/admin_panel' do %>
  <h2>Editare categorie proiecte</h2>

  <%= render 'form', project_category: @project_category %>

  <%= link_to 'Show', @project_category %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>