<%= render '/layouts/admin_panel' do %>
  <div class="admin_project_category_show">
    <p>
      <strong>Nume:</strong>
      <%= @project_category.name %>
    </p>

    <%= link_to 'Edit', edit_project_category_path(@project_category) %> |
    <%= link_to 'Back', :back, data: { turbolinks: false } %>
  </div>
<% end %>