<%= render '/layouts/admin_panel' do %>
  <div class="admin_project_category_show">
    <p>
      <strong>Nume:</strong>
      <%= @project_category.name %>
    </p>
    <div class="show_btn">
      <%= link_to 'Inapoi', :back, data: { turbolinks: false } %>
    </div>
    <div class="show_btn">
      <%= link_to 'Editeaza', edit_project_category_path(@project_category), data: { turbolinks: false } %> 
    </div>
  </div>
<% end %>