<div class="home_menu">
		<div class="container">
		    <ul class="nav nav-justified">
						<% @product_categories.each do |product_category| %>
							<li class="nav-item item<%= product_category.friendly_id %>">
                <%= link_to product_category, data: "turbolinks='false'", class: "nav-link" do %>
									<span data-icon="<%= product_category.icon.letter %>" class="icon"></span>
									<h3><%= product_category.name %></h3>
								<% end %>
							</li>
            <% end %>
		    </ul>
		</div>
	</div>