<div class="slider_main_container">
		<ul class="slider">
			<li id="slide1" class="slider_container" style="background-image: url('<%= asset_path('bed-bedroom-clean-775219.jpg')%>');">
				<div class="opac5">
					<div class="compass">
					</div>
					<div class="text_top">
						cautam frumusetea
					</div>
					<div class="middle_element">
						<div>
							<div class="bar">
							</div>
							<div class="circle">
							</div>
							<div class="bar">
							</div>
						</div>
					</div>
					<div class="text_bottom">
						in simplitate
					</div>
				</div>
			</li>
			<li id="slide2" class="slider_container" style="background-image: url('<%= asset_path('living-room-3539587_1920.jpg')%>');">
				<div class="opac5">
					<div class="compass">
					</div>
					<div class="text_top">
						rezultate
					</div>
					<div class="middle_element">
						<div>
							<div class="bar">
							</div>
							<div class="circle">
							</div>
							<div class="bar">
							</div>
						</div>
					</div>
					<div class="text_bottom">
						prin creativitate
					</div>
				</div>
			</li>
			<li id="slide3" class="slider_container" style="background-image: url('<%= asset_path('kaboompics_Luxury-livingroom-interior-with-table-chairs-commode-poufs-rug.jpg')%>');">
				<div class="opac5">
					<div class="compass">
					</div>
					<div class="text_top">
						Imbinam clasicul cu modernul
					</div>
					<div class="middle_element">
						<div>
							<div class="bar">
							</div>
							<div class="circle">
							</div>
							<div class="bar">
							</div>
						</div>
					</div>
					<div class="text_bottom">
						Solutii personalizate de mobilier
					</div>
				</div>
			</li>
		</ul>
		<a id="next_slide" class="fa fa-chevron-right slide_buttons" href="#"></a>
		<a id="previous_slide" class="fa fa-chevron-left slide_buttons" href="#"></a>
	</div>