<main role="main" class="container">

	<div class="parallax_container" style="background-image: url(<%= asset_path('furniture-handmade-man-279645-e1533310206405.jpg')%>);">
		<div class="opac">
		</div>
	</div>

	<h1>Politica confidentialitate</h1>

	<div class="white_bg page_container">
		<div class="text_container text_container_serv">
      <h3>Politica privind confidențialitatea datelor</h3>
      <p>Site-ul este deținut și administrat de S.C. Outstanding Concept S.R.L., cu sediul în
      Drumul de Centură Chitila-Mogoșoaia nr. 3-5. Pentru a urmări mai ușor
      informațiile, trebuie să știi că ne putem referi la societatea noastră folosind
      termenii „ Enocis”, „nouă”, „nostru” etc, iar la tine, ca utilizator și vizitator al site-
      ului, folosind termenii „utilizator”, „dumneavoastră”, etc.</p>
      <p>
        Această politică descrie informațiile pe care le colectăm atunci când vizitați
      www.enocis.ro. Prin utilizarea acestui site web, sunteți de acord cu colectarea și
      utilizarea informațiilor dumneavoastră personale (în cazul în care acestea sunt
      furnizate) în conformitate cu această politică.
      </p>
      <p>
        Site-ul poate conține legături către și de pe site-uri web. Dacă urmați un link
      către oricare dintre aceste site-uri web, rețineți că acestea au propriile politici de
      confidențialitate. Enocis nu are nicio responsabilitate sau răspundere pentru
      aceste politici sau modul în care aceste site-uri web își gestionează datele.
      Verificați aceste politici înainte de a trimite orice informații personale acestor site-
      uri.
      </p>
      <h3>
        Informațiile colectate si durata de stocare
      </h3>
      <p>
        În cazul în care utilizați site-ul nostru, vom colecta și procesa următoarele date
      personale despre dumneavoastră:
      </p>
      <ul>
        <li><u>Informații pe care ni le oferiți</u> atunci când completați un formular web sau
      solicitați trimiterea newsletter-ului. Informațiile pe care ni le furnizați pot include
      numele, adresa de e-mail, numărul de telefon, etc.
        </li>
        <li>
          <u>Informații pe care le colectăm</u> despre dumneavoastră, prin intermediul fisierelor
      cookie pe care le folosim, în momentul în care accesați site-ul nostru. Pentru
      detalii suplimentare, consultați informarea privind cookie-urile.
        </li>
      </ul>
      <p>
        Stocarea datelor de natura personală se face atata timp cat avem
      consimțămȃntul dumneavoastră.
      </p>
      <h3>
        Cum utilizăm datele personale pe care le furnizați sau le
      colectăm
      </h3>
      <p>
        Folosim datele personale despre dumneavoastră în următoarele moduri:
      </p>
      <ul>
        <li>
          datele personale furnizate de dumneavoastră prin formularele noastre web vor
      fi folosite în scopul procesării cererilor dumneavoastră. Prin trimiterea solicitării
      sunteți de acord cu prelucrarea datelor dumneavoastră de către Enocis.
        </li>
        <li>
          în cazul în care sunteți de acord cu primirea de informații prin newsletter, vă
      vom trimite noutǎți despre următoarele subiecte:
          <ul>
            <li>
              Informații despre produsele noastre.
            </li>
          </ul>
        </li>
        <li>
          informațiile tehnice pe care le colectăm prin utilizarea cookie-urilor vor fi
      utilizate în scopurile stabilite în “Informarea privind cookie-urile”.
        </li>
      </ul>
      <h3>
        Transferuri internaționale
      </h3>
      <p>În vederea oferirii serviciului de newsletter, datele dumneavoastră de identificare
      și contact sunt transmise către The Rocket Science Group LLC, cu sediul în USA.
      </p>
      <p>
        Detalii privind măsurile de protectie a datelor adoptate de către The Rocket Science Group LLC se
      găsesc la adresa site-ul acestora unde sunt prevazute reglementarile privind protectia datelor,
      si pe site-ul <a href="https://www.privacyshield.gov/welcome">https://www.privacyshield.gov/welcome</a>
      </p>
      <p>
        Site-ul nostru web utilizează Google Analytics, un serviciu pentru analiza web
      precum si Google Adwords, furnizate de Google.
      </p>
      <p>
        Google Analytics utilizează fișiere de tip cookie pentru a ajuta un anumit site web
      să analizeze modul în care utilizați respectivul site web. Informațiile generate de
      fișierele de tip cookie cu privire la utilizarea de către dumneavoastră a site-ului
      web vor fi transmise și stocate de Google pe servere care pot fi localizate în UE,
      SEE şi/sau Statele Unite. Google va utiliza aceste informații în scopul evaluării
      utilizării de către dumneavoastră a site-ului web, elaborând rapoarte cu privire la
      activitatea site-ului web și furnizând alte servicii referitoare la activitatea site-ului
      web și la utilizarea internetului. De asemenea, Google poate transfera aceste
      informații către terți în cazul în care are această obligaţie conform legii sau în
      cazul în care acești terți prelucrează informațiile în numele Google. Google nu va
      asocia adresa dumneavoastră IP cu alte date deținute de Google.
      </p>
      <p>
        Informații detaliate cu privire la Google și protecția datelor cu caracter personal
      (inclusiv modul în care puteți controla informațiile trimise către Google) pot fi
      găsite la: <a href="https://policies.google.com/privacy/partners">https://policies.google.com/privacy/partners</a>.
      </p>
      <h3>
        Accesați datele dumneavoastră personale
      </h3>
      <p>
        Aveți dreptul să cereți o copie a informațiilor deținute de noi prin formularea unei
      solicitări de acces. Pentru a solicita o copie a datelor deținute despre
      dumneavoastră sau pentru a vă actualiza informațiile, contactați Enocis la adresa
      de e-mail <a href="mailto:info@enocis.ro">info@enocis.ro</a>.
      </p>
      <p>
        Datele de natura personala deținute de către S.C. Outstanding Concept S.R.L.,
      sunt supuse condițiilor din Regulamentul UE 679/2016 care oferă persoanelor
      vizate dreptul de acces la toate tipurile de informații înregistrate, deținute de
      operatorul de date, sub rezerva anumitor limitări.
      </p>
      <h3>
        Drepturile persoanei vizate
      </h3>
      <p>
        Conform Regulamentului 679/2016 - GDPR, aveţi dreptul de a solicita S.C.
      Outstanding Concept S.R.L., în calitate de operator de date de natură personală,
      rectificarea, ştergerea sau restricţionarea prelucrării datelor personale referitoare
      la dumneavoastră.
      </p>
      <p>
        De asemenea, aveţi dreptului de a vă retrage consimţământul în orice moment,
      fără a afecta legalitatea prelucrării efectuate pe baza acestuia, înainte de
      retragere. Dacă nu mai doriți să primiți newsletter-ul, vă puteţi dezabona prin
      trimiterea unui e-mail la adresa <a href="info@enocis.ro">info@enocis.ro</a> sau prin folosirea linkului de
      dezabonare din cadrul newsletter-ului.
      </p>
      <h3>
        Dreptul de a depune o plângere în faţa Autorităţii de
      supraveghere
      </h3>
      <p>
        Conform Regulamentului 679 /2016 - GDPR, aveți dreptul de a depune o
      plângere la Autoritatea Naţională de Supraveghere a Prelucrării Datelor cu
      Caracter Personal. Mai multe detalii se pot obține accesȃnd adresa
      <a href="http://www.dataprotection.ro/">http://www.dataprotection.ro/</a>.
      </p>
		</div>

	</div>
  <%= render '/layouts/second_nav' %>
</main>
<%= render '/layouts/footer' %>