<main role="main" class="container">
  <%= render '/layouts/parallax_container', image: 'furniture-handmade-man-279645-e1533310206405.jpg' %> 
	
	<h1>Servicii</h1>

	<div class="white_bg page_container">
    <%= image_tag 'abstract-architect-architectural-design-323645-e1533310392294.jpg', alt: 'Servicii', class: 'main_img' %>
		<div class="text_container serv">
      <h3 class="mycc"><span class="myicon icon-tools"></span>Design</h3>
      <p>
        Fie ca vorbim de clasic sau de modern, echipa noastra de design este aici pentru a va oferi solutii personalizate, special create pentru a fi adaptate la nevoile dumneavoastra. Fiecare proiect este conceput de designerii nostrii impreuna cu dumneavoastra pentru a construi cea mai buna solutie care sa se adapteze exact la dorintele si viziunea dumneavoastra.
      </p>

      <h3 class="mycc"><span class="myicon icon-tools-2"></span>Relocare</h3>
      <p>
        Daca doriti o relocare a mobilierului, echipa noastra de montaj va sta la dispozitie cu servicii de demontare, transport si montare a mobilierului existent. Tinem la proiectele create alaturi de clientii nostri, si ne dorim ca acestea sa fie intotdeauna intr-o stare perfecta. Din acest motiv, fie ca va schimbati locuinta, sau doar doriti sa schimbati locul mobilei, echipa noastra va sta la dispozitie pentru a va oferi siguranta ca totul se intampla in conditii cat mai optime.
      </p>

      <h3 class="mycc"><span class="myicon icon-alarmclock"></span>Revizuirea mobilierului semestrial/anual</h3>
      <p>
        Echipa noastra va sta la dispozitie pentru revizuiri semestriale sau anuale ale mobilierului pentru a ne asigura ca produsele achizitionate se afla mereu in cea mai buna stare. Produsele oferite sunt cartea noastra de vizita si functionalitatea lor 100% este un reper de calitate pentru noi.
      </p>

      <h3 class="mycc"><span class="myicon icon-recycle"></span>Recondiționare pentru mobilierul existent</h3>
      <p>
        Stim ce inseamna sa ai o piesa de mobilier cu o valoare sentimentala, sau poate cu o utilitate de neinlocuit, si din acest motiv punem la dispozitia clientilor nostri solutii de reconditionare a mobilierului existent. 
      </p>
      <%= render '/layouts/second_nav' %>
		</div>
  
	</div>
  
</main>
<%= render '/layouts/footer' %>