<main role="main" class="container">
  <%= render '/layouts/parallax_container', image: @company.politica_cookies_cover_image.attached? ? rails_blob_url(@company.politica_cookies_cover_image) : "" %> 

	<h1>Politica cookies</h1>

	<div class="white_bg page_container">
		<div class="text_container pol">
      <h3>Informare privind cookie-urile</h3>
      <p>
      S.C. Outstanding Concept S.R.L., este o persoană juridică română, cu sediul în Drumul de
      Centură Chitila-Mogoșoaia nr. 3-5, înregistrată la Registrul Comerțului sub nr.
      J23/2237/2018, cod unic de înregistrare 39363176.
      </p>
      <p>
      Vă rugăm sa cititi această Informare privind cookie-urile la începutul interacțiunii cu
      Website-ul nostru.
      </p>
      <h3>
      A. Ce este un fişier cookie şi în ce scop este folosit?
      </h3>
      <p>
      Website-ul nostru utilizează tehnologia de tip cookie pentru a vă oferi un serviciu web mai
      bun și personalizat. Datele stocate de fișierele de tip cookie utilizate pe website-ul nostru nu
      arată niciodată detalii personale în baza cărora să poată fi stabilită o identitate individuală.
      </p>
      <p>
      Un fișier de tip cookie reprezintă un mic fișier text care este stocat și/sau citit de browserul
      dumneavoastră web pe hard disk-ul sau memoria dispozitivului utilizat (de exemplu:
      computer, laptop sau smartphone) în funcție de site-urile web pe care le vizitați. De
      asemenea, fișierele de tip cookie fac interacțiunea dumneavoastră cu site-urile web mai
      sigură și mai rapidă, deoarece acestea își pot aminti preferințele dumneavoastră (de
      exemplu: datele de autentificare, limba utilizată), informațiile stocate fiind citite de către site-
      ul web originar (first-party cookie) sau către alt site web căruia le aparțin (third-party
      cookie), atunci când vizitați din nou site-ul web utilizând același dispozitiv.
      </p>
      <h3>
      B. Cum puteţi controla fişierele de tip cookie
      </h3>
      <p>
      Vă puteți retrage consimțământul privind fișierele de tip cookie în orice moment. În acest
      scop, puteţi să blocaţi sau eliminaţi fişierele cookie fie prin intermediul setărilor browserului
      dumneavoastră web sau prin utilizarea unor software-uri puse la dispoziţie de terți, sau
      urmând instrucţiunile specifice pentru categoriile de cookie din secţiunile următoare. În orice
      situaţie, pot apărea probleme legate de utilizarea anumitor părți ale site-ului web dacă
      dezactivaţi fişierele de tip cookie.
      </p>
      <p>
      În cazul în care doriți să eliminați fișierele de tip cookie stocate pe dispozitivul
      dumneavoastră și să configurați browserul dumneavoastră web astfel încât să refuze fișiere
      de tip cookie, puteți să utilizați setările privind preferințele din browser-ul dumneavoastră
      web. De  obicei, puteți găsi setările de navigare referitoare la fișiere de tip cookie în
      meniurile „Opțiuni”, „Instrumente” sau „Preferințe” din browserul web pe  care îl utilizați
      pentru a accesa website-ul nostru. În funcție de browserele web existente, pot fi utilizate
      mijloace diverse pentru a dezactiva fișierele de tip cookie. Pentru a obține mai multe
      informații, vă rugăm să vizitați website-ul browser-ului dumneavoastră:
      </p>
      <ul>
        <li>
          Setări Internet Explorer - <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
        </li>
        <li>
          Setări Firefox - <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Firefox</a>
        </li>
        <li>
          Setări Chrome - <a href="https://support.google.com/chrome/answer/95647?hl=en&amp;hlrm=en">Chrome</a>
        </li>
        <li>
          Setări Safari - <a href="https://support.apple.com/ro-ro/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari</a>
        </li>
        <li>
          Setări Edge - <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Edge</a>
        </li>
        <li>
          Setări Opera - <a href="https://www.opera.com/help/tutorials/security/privacy/">Opera</a>
        </li>
      </ul>
      <p>
      Pentru a afla mai multe despre fișierele de tip cookie, vă rugăm să
      vizitați <a href="https://www.allaboutcookies.org">www.allaboutcookies.org</a> care prezintă informații suplimentare privind publicitatea
      comportamentală și viața privată online.
      </p>
      <h3>
      C. Tipuri de fișiere tip cookie existente
      </h3>
      <p>
      În baza funcției și scopului pentru care sunt utilizate fișierele de tip cookie, acestea sunt, de
      obicei, clasificate în următoarele categorii:
      </p>
      <ul>
      <li>
      <u>Fișiere de tip cookie absolut necesare</u> vă permit să navigați pe un website și să-i
      utilizați funcțiile de bază. De obicei, acestea sunt instalate doar ca răspuns la
      acțiunile efectuate de dumneavoastră care echivalează cu o cerere de servicii.
      Aceste fișiere de tip cookie sunt indispensabile pentru utilizarea website-ului. Pentru
      detalii cu privire la cookie-urile utilizate din această categorie, consultaţi secţiunea
      Detalierea cookie-urilor folosite.
      </li>
      <li>
      <u>Fișiere de tip cookie privind preferințele</u> sunt utilizate pentru a vă recunoaște atunci
      când reveniți pe website-ul nostru și ne permit să vă oferim funcții îmbunătățite și mai
      personalizate, cum ar fi reamintirea preferințelor dumneavoastră. Aceste fișiere de
      tip cookie colectează informații anonime și nu pot urmări navigările dumneavoastră
      pe alte site-uri web. Pentru detalii cu privire la cookie-urile utilizate din această
      categorie, consultaţi secţiunea Detalierea cookie-urilor folosite.
      </li>
      <li>
      <u>Fișiere de tip cookie statistice și privind performanța</u> ne permit să recunoaștem și să
      numărăm utilizatorii și să colectăm informații despre modul în care este utilizat
      website-ul (de exemplu: paginile pe care un utilizator le deschide cel mai des și dacă
      utilizatorul primește mesaje de eroare de la anumite pagini). Aceasta ne ajută să
      îmbunătățim modul în care funcționează website-ul nostru, asigurându-ne că puteți
      găsi ușor ceea ce căutați. Pentru detalii cu privire la cookie-urile utilizate din această
      categorie, consultaţi secţiunea Detalierea cookie-urilor folosite.
      </li>
      <li>
      <u>Fișiere de tip cookie privind marketing și identificarea publicului țintă</u> înregistrează
      vizita dumneavoastră pe website-ul nostru, paginile pe care le-ați vizitat și link-urile
      pe care le-ați accesat. Utilizam aceste informații pentru a oferi reclame mai relevante
      pentru dumneavoastră și interesele dumneavoastră. În același timp, acestea sunt
      utilizate pentru a limita frecvența cu care puteți vedea o reclamă și pentru a ajuta la
      măsurarea eficienței campaniilor publicitare. De asemenea, în același scop, putem
      împărtăși aceste informații cu terțe-părți (de exemplu: furnizori de servicii externe).
      Pentru detalii cu privire la cookie-urile utilizate din această categorie, consultaţi
      secţiunea Detalierea cookie-urilor folosite.
      </li>
      <li>
      <u>Fișiere de tip cookie privind rețelele sociale</u> vă permit să împărtășiți direct din
      website activitatea dumneavoastră pe rețele sociale, cum ar fi Facebook, Twitter
      sau Google+. Aceste fișiere de tip cookie nu sunt controlate de către noi. Pentru
      detalii cu privire la cookie-urile utilizate din această categorie, consultaţi secţiunea
      Detalierea cookie-urilor folosite.
      </li>
      <li>
      <u>Alte tipuri de fișiere de tip cookie</u> care pot fi utilizate ulterior. Vă vom informa prin
      actualizarea acestei informării dacă vom utilizate orice alte tipuri de cookies.
      </li>
      </ul>
      <p>
      Vă rugăm să observați că website-ul nostru utilizează serviciile unor terțe-părți pentru a
      obține informații cu privire la utilizarea de către dumneavoastră a website-ului noastru
      pentru a optimiza experiența dumneavoastră de utilizator și pentru a vă prezenta publicitate
      în afara website-ului nostru. Aceste terțe-părți (de exemplu: agenţii de publicitate și
      furnizorii de servicii externe) pot, de asemenea, utiliza fișiere de tip cookie, asupra cărora
      nu exercităm niciun control.
      </p>
      <h3>
      Detalierea cookie-urilor folosite
      </h3>

      <table class="cookie_table" border="0" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th width="15%">Tip cookie</th>
          <th width="20%">Denumire cookie</th>
          <th width="35%">Furnizor</th>
          <th width="15%">Tip</th>
          <th width="15%">Expira</th>
        </tr>
        <tr>
          <td rowspan="4">Necesare</td>
          <td>__cfduid</td>
          <td>inspectlet.com</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>laravel_session</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: Romania (adecvat)
          </td>
        </tr>

        <tr>
          <td rowspan="10">Statistice si
      Performanta</td>
          <td>_ga</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>2 ani</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: Romania (adecvat)
          </td>
        </tr>
        <tr>
          <td>_gat</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: Romania (adecvat)
          </td>
        </tr>
        <tr>
          <td>_gid</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: Romania (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_targlpt</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>collect</td>
          <td>google-analytics.com</td>
          <td>Pixel</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>

        <tr>
          <td rowspan="18">Marketing</td>
          <td>__insp_nv</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_sid</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_slim</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_uid</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>95775 luni</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_wid</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>IDE</td>
          <td>doubleclick.net</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>NID</td>
          <td>google.com</td>
          <td>HTTP</td>
          <td>6 luni</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>pagead/1p-user-list/792860217</td>
          <td>google.com</td>
          <td>Pixel</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>test_cookie</td>
          <td>doubleclick.net</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>

        <tr>
          <td rowspan="10">Alte tipuri de fișiere de tip cookie</td>
          <td>__insp_dct</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_lml</td>
          <td>enocis.ro</td>
          <td>HTML</td>
          <td>Permanent</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_pad</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>__insp_targlpu</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>1 an</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: SUA (adecvat)
          </td>
        </tr>
        <tr>
          <td>XSRF-TOKEN</td>
          <td>enocis.ro</td>
          <td>HTTP</td>
          <td>Sesiune</td>
        </tr>
        <tr>
          <td colspan="4">
            Datele sunt trimise in: Romania (adecvat)
          </td>
        </tr>
      </table>
      <p>
      În acest moment depunem toate eforturile pentru a ne asigura că aceasta este o listă completă a
      tuturor cookie-urilor folosite pe website şi ne dorim să menţinem actualizată această Informare
      privind cookie-urile. Te invităm să vizitezi această pagină din când în când, pentru a fi la curent cu
      schimbările pe care le aducem. Cu toate acestea, pot exista ocazii în care lista va fi incompletă sau
      neactualizată. Dacă într-o anumită zi ai nevoie de o confirmare a cookie-urilor utilizate de noi, te
      rugăm să contactezi la adresa info@enocis.ro.
      </p>
		</div>

	</div>
  <%= render '/layouts/second_nav' %>
</main>
