<% if controller_path =="home" %>
  <nav class="navbar navbar-expand-md navbar-light fixed-top navbar2">
    <div class="container">
      <%= link_to root_path, class: "navbar-brand my_logo" do %>
        <%= image_tag 'enocis_alb_150.png', alt: 'Logo' %>
      <% end %>
<% else %>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light my_navbar white_bg">
    <%= link_to root_path, class: "navbar-brand my_logo" do %>
      <%= image_tag 'enocis_negru_150.png', alt: 'Logo' %>
    <% end %>
<% end %>  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {{ request()->is('/') ? 'active' : '' }}" href="/" data-turbolinks="false">Home</a>  
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {{ (request()->is('mobila-living')) || (request()->is('mobila-bucatarie')) || (request()->is('mobila-dormitor')) || (request()->is('mobilier-baie')) || (request()->is('mobilier-birou')) || (request()->is('mobila-exterior')) ? 'active' : '' }}" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-turbolinks="false">Produse</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item {{ request()->is('mobila-living') ? 'active' : '' }}" href="mobila-living" data-turbolinks="false">Mobila Living</a>
              <a class="dropdown-item {{ request()->is('mobila-bucatarie') ? 'active' : '' }}" href="mobila-bucatarie" data-turbolinks="false">Mobila bucatarie</a>
              <a class="dropdown-item {{ request()->is('mobila-dormitor') ? 'active' : '' }}" href="mobila-dormitor" data-turbolinks="false">Mobila dormitor</a>
              <a class="dropdown-item {{ request()->is('mobilier-baie') ? 'active' : '' }}" href="mobilier-baie" data-turbolinks="false">Mobilier baie</a>
              <a class="dropdown-item {{ request()->is('mobilier-birou') ? 'active' : '' }}" href="mobilier-birou" data-turbolinks="false">Mobilier birou</a>
        <a class="dropdown-item {{ request()->is('mobila-exterior') ? 'active' : '' }}" href="mobila-exterior" data-turbolinks="false">Mobila exterior</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ request()->is('servicii') ? 'active' : '' }}" href="/servicii" data-turbolinks="false">Servicii</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ request()->is('contact') ? 'active' : '' }}" href="/contact" data-turbolinks="false">Contact</a>
          </li>
        </ul>
      </div>
    <% if controller_path =="home" %>
    </div>
    <% end %>
  </nav>