<h3 style="margin-top: 105px;">Users</h3>
<div>
  <table class="table">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>