<p>
  <%= @testimonial.name %>
  <% if @testimonial.title %> 
    cu functia de <%= @testimonial.title %>
  <% end %>
   doreste sa adauge urmatorul testimonial:
</p>
<p>
    <%= @testimonial.comment %>
</p>
<hr>
<br>
<p>Testimonialul nu va fi vizibil pana nu este aprobat!</p>
<p>Pentru aprobare apasa <%= link_to edit_testimonial_url(@testimonial) do%>aici<% end %></p>