<%= render '/layouts/admin_panel' do %>
  <h2>Editare testimonial</h2>

  <%= render 'form', testimonial: @testimonial %>

  <%= link_to 'Show', @testimonial %> |
  <%= link_to 'Back', :back, data: { turbolinks: false } %>
<% end %>